# Binaries
data/config.ini
export/bin/
export/license.txt
export/readme.txt
export/terminal-blues-*.zip

# Reference
ref/

# Scripts
**/*_powder.png
**/*_5bit.hex

# Testing variants
master_*.aseprite