data/config.lua

# Binaries
export/extra_alphabets/
export/press_kit/
export/license.md
export/**/readme.md
export/**/*.zip
export/**/*.7z
export/**/*.tar.gz

# Extras
extras/ref/
extras/bin/

# Scripts
**/*_powder.png
**/*_5bit.hex

# Testing variants
master*.aseprite